BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=
NEXT_PUBLIC_SUPABASE_URL="https://tevjucjhqhvlscjcdwdc.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRldmp1Y2pocWh2bHNjamNkd2RjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4MjAzNzksImV4cCI6MjA3ODM5NjM3OX0.TkDC3ZEEJZXwXPJ1vQxbXrYZ5DwYpkbin6CxAQdiZaI"
